section{width:85%;height:100%;margin:15px auto;}
.totalbox{width:1350px;height:650px;margin:10px auto;background-color: rgba(220, 215, 214, 0.3);}
.rightbox{width:60%;height:100%;float: right;display:inline-block;background-color: rgba(220, 215, 214, 1);}
.leftbox{width:40%;height:100%;display:inline-block;}
.leftbox .challengekname{margin:60px auto;width: 80%;height: 30px;font-size: 30px;}
.leftbox .jdt{margin:15px auto;width: 80%;height: 35px;position: relative;}
.leftbox .unit{float: left;position: relative;}
.leftbox .jdt .line{background: #c8cdd2;height: 2px;position: absolute;}
.leftbox .jdt .lastline{ width: 20px;float: left;position: relative;}
.leftbox .jdt .number{top: -10px;position: relative;background: #fff;border: 1px solid #c8cdd2;color: #c8cdd2;width: 25px;height: 25px;border-radius: 20px;font-size: 17px;text-align: center;}
.timu{ width: 80%;margin: 35px auto;font-size: 20px;}
.tips{ width: 80%;margin: 0px auto;font-size: 16px;color: rgba(0, 0, 0, 0.5);margin-left: 55px;}
.jggbox{ width: 90%;margin: 0 auto;}
.jggline{ width: 60%;margin: 0 auto;display: block;}
.jiugongge{background-color: rgba(220, 215, 214, 1);cursor: pointer;border: 1px solid rgba(0, 0, 0, 0.2);height: 90px;width: 90px;display: inline-block;font-size: 30px;text-align: center;line-height: 90px;}
.jiugongge:hover{background-color: rgba(221, 59, 67, 1);color: white;}
.useranswer{ width: 60%;height: 50px;margin: 40px auto;border: 1px solid rgba(0, 0, 0, 0.2);text-align: center;font-size: 22px;line-height: 50px;}
.tijiaobutton{cursor: pointer;height: 50px;width: 150px;margin: 10px auto;border-radius: 30px;background-color: rgba(221, 59, 68, 1);text-align: center;color: white;font-size: 22px;line-height: 50px;}
.xuanze{height: 20%; width: 80%;margin:0px auto;font-size: 24px;text-align: center;line-height: 50px;}
.choose{ margin: 22px auto;cursor: pointer;width:60%;display: block;font-size: 21px;}
.choosearea{ width: 90%;margin: 0 auto;}
.duijvtimu{height: 35%; width: 80%;margin:81px auto;font-size: 27px;text-align: center;line-height: 200px;}
.tianjvanswer{ width: 80%;height: 95px;margin:36px auto;}
.final{ width: 80%;height:50%;margin: 10px auto;font-size: 17px;}
.fenshu{width: 20%;margin: 10px auto;font-size: 17px;text-align: center;display: inline-block;}
.Aclass{cursor: pointer;border: 2px solid rgba(221, 59, 67, 1);border-radius: 20px;width: 40px;height: 40px;font-size: 26px;text-align: center;display: inline-block;margin: 5px 10px;}
.Aclass:hover{background-color: rgba(221, 59, 67, 1);color: white;}
.tiankong{ width:70%;height: 50px;margin: 0 auto;border: 1px solid rgba(0, 0, 0, 0.2);display: block;text-align: center;font-size: 22px;line-height: 50px;}
.finalshow{ width: 80%;height: 75%;margin: 80px auto; }
.buttonarea{width: 66%;height: 110px;margin:20px auto;}
.xianshifenshu{width: 80%;height: 100px;margin: 20px auto;font-size: 27px;text-align: center;}
/*.xianshijifen{width: 80%;height: 100px;margin: 50px auto;border: 1px solid rgba(0, 0, 0, 0.2);font-size: 27px;text-align: center;}*/
.defen{font-size: 30px;color: rgba(221, 59, 67, 1);}
.jifen{font-size: 25px;}

.xjggbox{ width: 100%;margin: 10px auto;}
.xjggline{ width: 39%;margin: 0 auto;display: block;}
.xjiugongge{background-color: rgba(220, 215, 214, 1);border: 1px solid rgba(0, 0, 0, 0.2);height: 50px;width: 50px;display: inline-block;font-size: 17px;text-align: center;line-height: 50px;}
.xanswer{width: 100%;text-align: center;margin: 16px auto;}
.xxuanze{margin: 10px auto;font-size: 16px;}
.xxuanxiang{margin: 10px auto;}
.xtiankong{margin: 45px auto;font-size: 17px;}

h1{text-align:center;}

.tabbox{width:100%;height:285px;margin:0px auto;background:rgba(248, 240, 240, 1);}
.tabbox .tab{overflow:hidden;background:#ccc;}
.tabbox .tab a{display:block;padding:10px 20px;float:left;text-decoration:none;color:#333;}
.tabbox .tab a:hover{background:rgba(221, 59, 67, 1);color:#fff;text-decoration:none;}
.tabbox .tab a.on{background:rgba(221, 59, 67, 1);color:#fff;text-decoration:none;}
.tabbox .content{overflow:hidden;padding:10px;}
.tabbox .content li{display:none;}