body {
}
 *{padding:0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            overflow-x:hidden;
            overflow-y:hidden;
        }
        body{font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
             font-size:14px;background: url(../../Images/RegisterLogin/dengluzhuce.jpg) left center repeat-x;
        }
        header{
            width:100%;
            height:75px;
            margin:15px auto;
            /*border:1px solid red;*/
        }
         .content1{
            width:65%;
            height:100%;
            /*float:right;*/
            margin:0 auto;
            /*border:1px solid green;*/
         }
         .content1 .headerbar{
             padding-top:10px;
         }
        .content1 .headerbar #hlkLogo {
            float:left;
            width:70px;
            height:70px;
        }
        .content1 .headerbar #hlkLogo #imgLogo{
            width:100%;
            height:100%;
        }
        .content1 .headerbar .headerbar-choose{
             float:right;
             font-size:14px;
         }
        .content1 .headerbar .headerbar-choose #hlkToLogin, .content1 .headerbar .headerbar-choose #hlkToRegister{
             text-decoration: none;
         }
        section{
            width:100%;
            height:600px;
            margin:0 auto;
            /*border:1px solid red;*/
            
        }

        section .text1 {
            width:71px;
            height:100%;
            float: left;
            display: none;
            transition: margin 2s linear;
            -webkit-transition: margin 2s linear;
            -moz-transition: margin 2s linear;
            margin: 130px 0px 0px 0px;
        }
        section .text2 {
            width:71px;
            height:100%;
            float: left;
            padding-left: 150px;
            display: none;
            margin: 178px 0px 0px 0px;
            transition: margin 2s linear;
            -webkit-transition: margin 2s linear;
            -moz-transition: margin 2s linear;
        }

        section  .content{
            width:42%;
            height:100%;
            float:right;
           
            /*margin:0 auto;*/
            /*border:1px solid green;*/
         }
        .content_bg {
            width: 400px;
            height: 515px;
            padding-top: 1px;
            padding-left: 85px;
            overflow: visible;
            background-color: rgba(1, 1, 1, 0.2);
            /*-webkit-box-shadow: 2px 0px 10px rgba(1,1,1,0.3);*/
        }
        #mainform{
            width:520px;
            height:470px;
            /*padding-left: 220px;*/
            /*border:1px solid  red;*/
            margin:40px auto 0px;
            position:relative;
        }
        #mainform .formheader{
            width:300px;
            height:22px;
            text-align:center;
            margin-bottom:20px;
            font-size:16px;
        }
        #mainform .formheader #hlkNormalRegister,#mainform .formheader #hlkPhoneRegister{
            text-decoration:none;
            }
        #mainform .formheader #hlkNormalLogin{
             padding:0 10px;
             text-decoration:none;
            }
        #mainform .normalInput #txtUser,#mainform .normalInput #txtPassword,#mainform .normalInput #txtRePassword,#mainform .normalInput #txtMail{
            width:60%;
            border:none;
            outline:none;
            background-color: rgba(0, 0, 0, 0);
        }
        #mainform #rfvUser,#mainform .usertip{
            width:300px;
            color:red;
            position:absolute;
            top:102px;
            left:10px;
        }
        #mainform #rfvPassword,#mainform .passtip{
            width:300px;
            color:red;
            position:absolute;
            top:175px;
        }
        #mainform #cvPassword, #mainform #rfvRePassword,#mainform .repasstip {
                width: 300px;
                color: red;
                position: absolute;
                top: 252px;
            }
        #mainform #rfvMail,#mainform .mailtip{
            width:300px;
            color:red;
            position:absolute;
            top:325px;
        }
        @font-face {
  font-family: 'iconfont';
  src: url('../../iconfont/iconfont.eot');
  src: url('../../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../../iconfont/iconfont.woff') format('woff'), url('../../iconfont/iconfont.ttf') format('truetype'), url('../../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
         #mainform .normalInput{
               height: 46px;
               width: 270px;
               overflow:hidden;
               display:block;
               padding:0 10px;
               margin-bottom:26px;
               border:1px solid #dadada;
               background-color: #e5e5e5;
         }
         #mainform .normalInput .showpassword,#mainform .normalInput .hidepassword{
             /*float:right;*/
             cursor:pointer;
             color: rgba(178,178,178,1);
         }
        #mainform .tip{
			width:250px;height:100px;
		    position:absolute;
		    left: 290px;top: 30px;
		    border-radius:3px;
			overflow:hidden;
			/*background:red;*/
			display:none;
			}
       #mainform .tip .tip1{
		   width:170px;
		   position:absolute;
		   left:22px;top:18px;
		   border-radius:3px;
		   border:1px solid #E5E5E5;
		   color:#515151;
		   padding:6px 10px 6px 10px;
           background:#E5E5E5;
		   }
	   #mainform .tip .jiao{
		   /*background:blue;*/
		   position:absolute;
		   left:3px;top:25px;
		   overflow:hidden;
		   display: block;
           width: 0;
           height: 0;
           border: 10px solid #E5E5E5;
           border-top-width: 7px;
           border-bottom-width: 7px;
           border-top-color: transparent;
           border-left-color: transparent;
           border-bottom-color: transparent;
		   }
       #mainform .checkField{ /*确认条款*/
	       height:24px;
	       margin-bottom:20px;
	       /*border:1px solid red;*/
	       position:relative;
    	}
       #mainform .checkField input{ /*checkbox input*/
	       display:none;
	       float:left;
	       width:30px;
	   }
       #mainform .checkField .chebox-before{/*checkbox before 样式*/
	       display:block;
	       float:left;
           cursor:pointer;
      	   line-height:33px;
	   }
       #mainform .checkField .chebox-after{/*checkbox after 样式*/
	       display:none;
	       float:left;
	       cursor:pointer;
	       line-height:33px;
	}
       .cssbtnRegister{border:none;}