
@{
    ViewBag.Title = "诗韵-挑战";
}
@section style
{
    <link href="~/Content/css/Challenge.css" rel="stylesheet" />
}
<section>
    <div class="totalbox">
        <div class="leftbox">@*1-3点字成诗；4-7选择题；8-10填字接句*@
            <div class="challengekname" id="challengekname1">点字成诗</div>
            <div class="challengekname" id="challengekname2" style="display: none;">选择题</div>
            <div class="challengekname" id="challengekname3" style="display: none;">填字接句</div>
            <div class="jdt">
                <div class="unit" id="unit1">
                    <div class="line" style="background-color: #4cd964; width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">1</div>
                </div>
                <div class="unit" id="unit2">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">2</div>
                </div>
                <div class="unit" id="unit3">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">3</div>
                </div>
                <div class="unit" id="unit4">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">4</div>
                </div>
                <div class="unit" id="unit5">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">5</div>
                </div>
                <div class="line lastline" style="width: 35px;"></div>
            </div>
            <div class="jdt">
                <div class="unit" id="unit6">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">6</div>
                </div>
                <div class="unit" id="unit7">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">7</div>
                </div>
                <div class="unit" id="unit8">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">8</div>
                </div>
                <div class="unit" id="unit9">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">9</div>
                </div>
                <div class="unit" id="unit10">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">10</div>
                </div>
                <div class="line lastline" style="width: 35px;"></div>
            </div>
            <div class="timu" id="timu1">请从右侧九个字中识别一句诗词</div>
            <div class="timu" id="timu2" style="display: none;">请从右侧四个选项中选择一个正确答案</div>
            <div class="timu" id="timu3" style="display: none;">请将右侧诗词中缺失句子补全</div>
        </div>
        <div class="rightbox" id="rightbox1">
            <div class="jggbox">
                <div class="jggline" style="margin-top: 80px;">
                    <div class="jiugongge"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                </div>
                <div class="jggline" style="margin-top: 20px;">
                    <div class="jiugongge"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                </div>
                <div class="jggline" style="margin-top: 20px;">
                    <div class="jiugongge"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                    <div class="jiugongge" style="margin-left: 20px;"></div>
                </div>
            </div>
            <div class="useranswer"></div>
            <div class="tijiaobutton">提 交</div>
        </div>
        <div class="rightbox" id="rightbox2" style="display: none;"></div>
        <div class="rightbox" id="rightbox3" style="display: none;"></div>
        <div class="rightbox" id="rightbox4" style="display: none;"></div>
        <div class="rightbox" id="rightbox5" style="display: none;"></div>
        <div class="rightbox" id="rightbox6" style="display: none;"></div>
        <div class="rightbox" id="rightbox7" style="display: none;"></div>
        <div class="rightbox" id="rightbox8" style="display: none;"></div>
        <div class="rightbox" id="rightbox9" style="display: none;"></div>
        <div class="rightbox" id="rightbox10" style="display: none;"></div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        $(function() {
            var hidden = $(".hidden1").val();
            $(".cssDropDownList1").get(0).selectedIndex = hidden - 1;


            if ($(".cssDropDownList1").get(0).selectedIndex == 1) {
                $(".file_a").css("display", "block");
            } else {
                $(".file_a").css("display", "none");
            }


            $(".cssDropDownList1").change(function() {
                if ($(".cssDropDownList1").get(0).selectedIndex == 1) {
                    $(".file_a").css("display", "block");
                } else {
                    $(".file_a").css("display", "none");
                }
            });
        });
    
    </script>

}
