
@{
    ViewBag.Title = "诗韵-挑战";
}
@section style
{
    <link href="~/Content/css/Challenge.css" rel="stylesheet" />
}
<section>
    <div class="totalbox">
        <div class="leftbox">
            <div class="challengekname">题目类型</div>
            <div class="jdt">
                <div class="unit" id="unit1">
                    <div class="line" style="background-color: #4cd964; width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">1</div>
                </div>
                <div class="unit" id="unit2">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">2</div>
                </div>
                <div class="unit" id="unit3">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">3</div>
                </div>
                <div class="unit" id="unit4">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">4</div>
                </div>
                <div class="unit" id="unit5">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">5</div>
                </div>
                <div class="line lastline" style="width: 35px;"></div>
            </div>
            <div class="jdt">
                <div class="unit" id="unit6">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">6</div>
                </div>
                <div class="unit" id="unit7">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">7</div>
                </div>
                <div class="unit" id="unit8">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">8</div>
                </div>
                <div class="unit" id="unit9">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">9</div>
                </div>
                <div class="unit" id="unit10">
                    <div class="line" style="width: 35px;"></div>
                    <div class="number" style="margin-left: 35px;">10</div>
                </div>
                <div class="line lastline" style="width: 35px;"></div>
            </div>
            <div class="timu">这是题目这是题目这是题目这是题目</div>
        </div>
        <div class="rightbox" id="rightbox1"></div>
        <div class="rightbox" id="rightbox2" style="display: none;"></div>
        <div class="rightbox" id="rightbox3" style="display: none;"></div>
        <div class="rightbox" id="rightbox4" style="display: none;"></div>
        <div class="rightbox" id="rightbox5" style="display: none;"></div>
        <div class="rightbox" id="rightbox6" style="display: none;"></div>
        <div class="rightbox" id="rightbox7" style="display: none;"></div>
        <div class="rightbox" id="rightbox8" style="display: none;"></div>
        <div class="rightbox" id="rightbox9" style="display: none;"></div>
        <div class="rightbox" id="rightbox10" style="display: none;"></div>
    </div>
</section>

@section scripts
{

}


