@{
    ViewBag.Title = "menu";
}
<link href="~/Views/ManagerAdd/css/style.css" rel="stylesheet" />
<link href="~/Views/ManagerAdd/css/style-responsive.css" rel="stylesheet" />
<script src="~/Views/ManagerAdd/js/jquery-1.4.1.min.js"></script>
<style type="text/css">
    .auto-style1 {
        left: 0px;
        top: 0px;
        width: 224px;
    }
</style>
<body class="sticky-header" target="main" onload="CheckOpenMenu();">
    <form id="form1" >
        <div>
            <section>
                <div class="left-side sticky-left-side" style="left: 0; top: 0">
                    <div class="logo">
                        <a href="#"><img src="~/Images/images/logo.png" alt="" /></a>
                    </div>
                    <div class="logo-icon text-center">
                        <a href="#"><img src="~/Images/images/logo_icon.png" alt=""></a>
                    </div>
                    <div class="left-side-inner">
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                        </div>
                        <ul class="nav nav-pills nav-stacked custom-nav">
                            <li class="active"><a href="#"><i class="fa fa-home"></i> <span>网站首页</span></a></li>
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-laptop"></i> <span>添加管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a  href="@Url.Action("TypeCreate", "ManagerAdd")" target='main'> 朝代添加</a></li>
                                    <li><a href="#" target='main'> 商品添加</a></li>
                                    <li><a href="#" target='main'> 图集添加</a></li>
                                    <li><a href="#" target='main'> 介绍添加</a></li>
                                    <li><a href="#" target='main'> 咨讯添加</a></li>
                                    <li><a href="#" target='main'> 地域添加</a></li>
                                    <li><a href="#" target='main'> 商品类别添加</a></li>
                                    <li><a href="#" target='main'> 图集类别添加</a></li>
                                    <li><a href="#" target='main'> 介绍类别添加</a></li>
                                    <li><a href="#" target='main'> 咨讯类别添加</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-book"></i> <span>列表管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a href="#" target='main'> 朝代列表</a></li>
                                    <li><a href="#" target='main'> 商品列表</a></li>
                                    <li><a href="#" target='main'> 图集列表</a></li>
                                    <li><a href="#" target='main'> 介绍列表</a></li>
                                    <li><a href="#" target='main'> 资讯列表</a></li>
                                    <li><a href="#" target='main'> 帖子列表</a></li>
                                    <li><a href="#" target='main'> 地域列表</a></li>
                                    <li><a href="#" target='main'> 订单列表</a></li>
                                    <li><a href="#" target='main'> 用户列表</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-cogs"></i> <span>更新管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a href="#" target='main'> 朝代更新</a></li>
                                    <li><a href="#" target='main'> 商品更新</a></li>
                                    <li><a href="#" target='main'> 图集更新</a></li>
                                    <li><a href="#" target='main'>介绍更新</a></li>
                                    <li><a href="#" target='main'> 咨讯更新</a></li>
                                    <li><a href="#" target='main'> 帖子更新</a></li>
                                    <li><a href="#" target='main'>地域更新</a></li>
                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-envelope"></i> <span>回复管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a href="#" target='main'> 朝代回复</a></li>
                                    <li><a href="#" target='main'> 介绍回复</a></li>
                                    <li><a href="#" target='main'> 资讯回复</a></li>
                                    <li><a href="#" target='main'> 视频回复</a></li>
                                    <li><a href="#" target='main'> 地域回复</a></li>

                                </ul>
                            </li>
                            <li class="menu-list">
                                <a href="#"><i class="fa fa-bullhorn"></i> <span>评论管理</span></a>
                                <ul class="sub-menu-list">
                                    <li><a href="#" target='main'> 朝代评论</a></li>
                                    <li><a href="#" target='main'> 介绍评论</a></li>
                                    <li><a href="#" target='main'> 资讯评论</a></li>
                                    <li><a href="#" target='main'> 视频评论</a></li>
                                    <li><a href="#" target='main'> 地域评论</a></li>
                                    <li><a href="#" target='main'> 帖子评论</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-sign-in"></i> <span>退出系统</span></a></li>
                        </ul>
                        <!--sidebar nav end-->
                    </div>
                </div>
                <div class="main-content">
                    <div class="header-section">
                        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                        <div class="menu-right">
                            <ul class="notification-menu">
                                <li class="auto-style1">
                                    <div class="top_link">
                                        <ul>
                                            <li class="welcome">您好：亲爱的<a>@*<asp:Label ID="Label1" runat="server">管理员</asp:Label>*@</a> </li>
                                            <li><a href="#" target="_top">注销</a></li>

                                        </ul>
                                    </div>
                                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                        <li><a href="#"><i class="fa fa-sign-out"></i> 注销</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main" style="width:100%;height:100%;">
                        <iframe id="main" name="main" frameborder="0" src="@Url.Action("Index","ManagerAdd")" style="width:100%;height:100%;"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </form>
</body>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery.nicescroll.js"></script>
<script src="~/Content/js/scripts.js"></script>