@using Models
@using PagedList.Mvc;
@model Shiyun.Models.CiPaiViewModels
@{
    ViewBag.Title = "CiPaiIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Content/hudie.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.unobtrusive-ajax.js" rel="stylesheet" />
    <link href="~/Content/css/ShiCilib.css" rel="stylesheet" />
    <link href="~/Content/css/ShiCiwenxue.css" rel="stylesheet" />
    <link href="~/Content/css/ShiCiswiper.min.css" rel="stylesheet"/>
    <style>body{font-family: 'Hiragino Sans GB', 'Open Sans', consolas, 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif, tahoma;}</style>
}
<div class="FoodMenu">
    <div class="content">
        <div class="menu">
            <div class="zhonglei" id="zhonglei">
                <b>诗集类型：</b>
                <div class="info">
                    @Ajax.ActionLink("全部", "CiPaiIndex", "ShiCi", null)
                    @foreach (CiPai p in Model.CiPai)
                    {
                        @Ajax.ActionLink(p.CiPaiName, "CiPaiIndex", "ShiCi", new { genreInfoFrom = p.CiPaiName }, new AjaxOptions()
                   {
                       UpdateTargetId = "Div1",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET"
                   })
                    }
                </div>
                <hr />
                <div class="xian"></div>
            </div>
            @{Html.RenderAction("CiPaiIndex", "Shi");}

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var $zhonglei_a = $('#zhonglei a');
        $zhonglei_a.click(function () {
            $(this).addClass('on').siblings().removeClass('on');
        });
    });
</script>

