<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ShiyunEntities" connectionString="metadata=res://*/Shiyun.csdl|res://*/Shiyun.ssdl|res://*/Shiyun.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Shiyun;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>